body {
    font-family: "Roboto", sans-serif;


}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
   /* border: blue dashed;*/
    height: 14px;
}

.header-logo-text {
    font-size: 24px;
    color: #f9faf8;

}

.hero-container,
.footer {
    background-color: #1f2937;

}

.hero-container {
    padding: 0 200px;
   /* border:orange dashed 3px;*/
    height: 400px;


}

.header-links,
.header-content-left-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    gap: 32px;

}

.hero-content {
    display: flex;
   /* border:pink 5px solid;*/
    height: 300px;
   


}

.header-content-left {
   /* border: whitesmoke solid;*/
    flex: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

img {
    height: 220px;
    width: 350px;
    display: flex;
    flex: 1;
}

.header-content-right {
   /* border: whitesmoke solid;*/
    flex: 1;
    display: flex;
    margin-left: 250px;
    align-items: center;
    flex-shrink: 0;
    padding: 0, 180px;
}

.header-content-left-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    display: flex;
    flex-wrap: wrap;
}

.header-content-left-subtext {
    font-size: 18px;
    display: flex;
}


.header .footer-text {
    color: #e5e7eb;
}


.sign-up {
    display: flex;
    align-items: flex-end;
    color: #e5e7eb;
    background-color:#3882f6;
    border:#3882f6;
    padding-top:8px;
    padding-right: 24px; 
    padding-bottom: 8px; 
    padding-left: 25px;
    border-radius: 5px; 
    display:flex; 
    align-items: flex-start;
    font-size:24px   
    
}
    

.information-section-container {
    /* border: dashed blue 5px; */
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
   margin-top: 50px;
   margin-bottom: 124px;
   padding: 72px;
}

.information-section-title-container {
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.information-section-title-text {
    
} 

.information-section-image-subtext-container {
    border: red dashed 8px; 
    display: flex;
    justify-content: center;
    gap: 48px;
    margin: 0;
    padding: 0; 
}
.information-section-images{
    display: flex;
    justify-content: center;
    gap: 48px; 
    margin-top: 36px;
}

.information-section-image-container {
    /* border: green solid 5px; */
    width: 190px;
    height: 190px;
    display: flex;
    flex-direction: column;

}

.information-section-image {
    border: rgb(3, 90, 196) solid 5px; 
    width: 200px;
    height: 200px;
    display: flex;
    border-radius: 10px;
    margin-top: 20px;
}

.information-section-image-img {
    width: 190px;
    height: 190px;
    border-radius: 5px;
}


.information-section-image-container-description-p {
    font-size: 18px;
    text-align: center;
}

.quote-container {
   /* border:brown solid 8px;*/ 
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 124px 48px 36px 48px;
    margin-top: 36px;
    

}

.quote-text {
   /* border: green dashed 8px;*/ 
    font-size: 36px;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-text-p {
    font-size: 36px;
    font-style:italic; 

}
.quote-author {
   /* border: orange bold 8px;*/
    font-family: sans-serif;
    font-weight: bold;
    font-size: 24px;
    font-style: italic; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 48px;
}

.call-to-action-section{
   /* border:blue solid 7px;*/
    display:flex; 
    justify-content:center; 
    padding:64px; 
    
}
.call-to-action-main-container {
   /* border: purple solid 9px;*/
    background-color: #3882f6;
    border-radius:5px; 
    padding: 64px;
    display:flex;
    margin: 80px;
    justify-content: space-around;
    align-items: center; 
    width:65%; 
    margin-top:32px;
    margin-bottom: 32px; 
    padding-left:8px; 
    padding-top:19px;
    padding-bottom:19px; 
}

.call-to-action-text-container{
  /*  border: green solid 8px;*/
    padding:32px; 
    margin:0px;
    display:flex; 
    flex-direction:column; 
    justify-content:flex-start; 
    color: #e5e7eb
    
}

.call-to-action-container-text {
    font-size:24px; 
}

.call-to-action-container-subtext {
    font-size:18px; 
}
.call-to-action-secondary-container {
    background-color: #3882f6;
   border: blue dashed 7px;
    padding: 32px;
    margin-left: 64px;
}

.call-to-action-text-subtext-container{
    border: red solid 8px; 
    width:120px; 
    
    
}

/* .call-to-action-button-container{


} */
.call-to-action-button-container-text {
    border: yellow solid 7px;
    padding: px;
    font-size: 29px; 
    font-weight:bolder; 
    color: #e5e7eb;
    margin-left: 8px; 
    margin-right:168px; 
    margin-bottom: 0px;
    display:flex; 
    flex-direction:column; 
    justify-content: flex-start;
}

.call-to-action-button-container-subtext{
   /* border: green solid 5px;*/   
    margin-left: 8px; 
    margin-right:168px; 
    margin-bottom: 0px; 
    font-size: 18px; 
}

button {
    background-color:#3882f6;
    border: #e5e7eb solid 2px;
    color:#e5e7eb;
    padding-top:8px;
    padding-right: 24px; 
    padding-bottom: 8px; 
    padding-left: 25px;
    border-radius: 5px; 
    display:flex; 
    font-size:24px 
}

.footer{
height: 118px; 
color:#e5e7eb;
display:flex; 
justify-content: center;
align-items: center;
}
